<a href="https://colab.research.google.com/github/Guilherme-Lucas7/Exerc-cios-Estrutura-de-Dados/blob/main/Estruturas%20dados%20python%20Guilherme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas

In [ ]:
x = [10,5,11,0,3]
x

[10, 5, 11, 0, 3]

In [ ]:
x[0]
x[4]

3

In [ ]:
L = [1, 4.5,'abc', 3 + 4j, [1,2,3,4]]
L[2]=5
L[4]=5
L

[1, 4.5, 5, (3+4j), 5]

In [ ]:
A= [1, 2, 3]; B = [4, 5, 6]
C= A+B
C
C+= [7]
C
C.append('abc')
C

[1, 2, 3, 4, 5, 6, 7, 'abc']

In [ ]:
L= [1, 4.5, 'abc', 3+4j, [1,2,3,4]]
L
L[4]
L[4][0]

1

append()Adiciona elementos a lista:


```

```

In [ ]:
x = [1,2,3]
x.append(4)
x

[1, 2, 3, 4]

clear()Esvazia a lista:

In [ ]:
x = [1,2,3]
x.clear()
x

[]

 count() Retorna quantas ocorrências há no argumento passado:

In [ ]:
x= [1,2,3,3,3,3,4]
x.count(3)

4

index() Retorna o índice da primeira ocorrência do arguemento passado:

In [ ]:
x= [1,2,3,3,3,3,4]
x.index(1)

0

insert() Insere na posição especificada um elemento

In [ ]:
x = ['a', 'c', 'd']
x.insert(1,'b')
x

['a', 'b', 'c', 'd']

pop () Remove e retorna o elemento da posição especificada

In [ ]:
x = ['a', 'b', 'c', 'd']
x.pop(1)
'b'
x

['a', 'c', 'd']

remove () Remove o elemento especificado

In [ ]:
x = ['a', 'b', 'c', 'd']
x.remove('c')
x

['a', 'b', 'd']

reverse () Inverte a ordem dos elementos

In [ ]:
x = [5, 4, 3, 2, 1]
x.reverse()
x

[1, 2, 3, 4, 5]

sort() Ordena:

In [ ]:
x = [10,3,3,10,10,6,6,4,8,7]
x.sort()
x

[3, 3, 4, 6, 6, 7, 8, 10, 10, 10]

Laço for:
 Os conjuntos finitos de valores usados na estrutura de repetição for para iterar uma variável,
 também é uma lista.

In [ ]:
x = [10,5,11,0,3]
for i in x:
  print(i)

10
5
11
0
3

In [ ]:
i = 10
i in x
i = 100
i in x

False

In [ ]:
A = [3,4,5,10]
soma1 = list()
for i in A:
  soma1+= [i+1]
soma1

[4, 5, 6, 11]

In [ ]:
A = [3,4,5,10]
soma1 = [i+1 for i in A]
soma1

[4, 5, 6, 11]

In [ ]:
A= [0,0,5,3,2,7,4,10,4,7]
N= list()
for i in A:
 if i%2== 0:
  N +=[i*i]
N

[0, 0, 4, 16, 100, 16]

In [ ]:
A = [0,0,5,3,2,7,4,10,4,7]
N= [i*i for i in A if i%2==0]
N

[0, 0, 4, 16, 100, 16]

Fatiamento

In [ ]:

X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
X[0:2:1]
[1, 2]
X[0:4:2]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
X[:: 1]
X[4:: 1]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
X[:2:1]
X[::2]
X[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

Tuplas

In [ ]:
x = ("a", 1,2)
type(x)
x
x = ([0, 1, 2], 2, 2)
x[1]

x[0]
x[0][0] = 'mudei'
x
X = (1, 2, 3)
Y = (1, 2, 4)
Z = (4, 0, 0)
X < Y
X < Z
X + Y
Z*4
X += (4,)
x

(['mudei', 1, 2], 2, 2)

Funções

In [ ]:
dir(tuple)
x = (1, 2, 3, 3, 3, 3, 4)
x.count(3)
x = (1, 2, 3, 3, 3, 3, 4)
x.index(3)

2

Dicionários

In [ ]:
X = { 'idade' : 21, 'matricula' : 10000, 'nome' : 'Joao' }
X
X = {'idade' : 21, 'matricula' : 10000, 'nome' : 'Joao' }
X

{'idade': 21, 'matricula': 10000, 'nome': 'Joao'}

Funções

In [ ]:
dir(dict)
d = { 'nome' : 'joao' , 'idade' : 20}
d.clear()
d
d = {'nome' : 'joao' , 'idade' : 20}
d.get('nome')
d.get('teste')
d.get('teste', 'não encontrado')

'não encontrado'

Laço for

In [ ]:
d = { 'nome' : 'Joao' , 'idade' : 20, 'matricula' : 1}
for i in d:
  print(i)
d = { 'nome' : 'Joao' , 'idade' : 20, 'matricula' : 1}
for i,j in d.items():
  print(i)

nome
idade
matricula
nome
idade
matricula

In [ ]:
numeros = [9,8,7,5]
numeros.insert(2,7)
numeros

[9, 8, 7, 7, 5]